
/*Ya sabes lo de cajon*/
/*Pd. amos a opciones*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
h2{
    text-align: center;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
/*Aqui creamos el contenedor que contendra el select y el botoncito
 ahora amor al seleccion*/
.opciones{
    width: 40%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #038467;
    border-radius: 30px;
    padding: 10px;
}
.vidas{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/*Aqui esta la cajita, ya sabes solo dando estilos bonitos
amos a btn (el botoncito paps)*/
.seleccion{
    width: 60px;
    height: 30px;
    font-size: 18px;
}


/*aaa pues aqui ocupe un colorss un y lo puse bonito con un radius
acuerdate que puedes ponerle un :hover au au au!!
amos al tablero*/
.btn{
    background-color: #038467;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    font-size: 18px;
}

/*aqui lo pusimos flexible chido y le dimos un marges pa que no quedara muy junto
y wrap pa que si no cabe, pues que se baje pa bajo :)
amos al .tablero div*/
.tablero{
    display: flex;
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #038467;
}


/*vas a decir ¿un div? pero no puso el gus un div en el html
y es correcto ari gameplay
acuerdate que nosotros lo crearemos con el boton
osea cada que apachuremos el boton se van a crear divssssss uuuuuuu
amos a .tablero div .h1*/
.tablero div{
    width: 20%;
    height: 30%;
    margin: 9px;

}

/*ya la vas cachando vea, pero diras y este h1 que!!!???
pues este h1 esta dentro del div que crearemos con el boton
exacto, este h1 va dentro del div y tambien lo creamos dinamico
fin, amos a script.js*/
.tablero div .muestra{
    width: 100%;
}
.tablero div .muestra .a{
    width: 100%;
    display: none;
}
.tablero div .muestra .i{
width: 100%;
cursor: pointer;
}

.tablero div .closed .a{
        width: 100%;
        display: inline-block;
}
.tablero div .closed .i{
    width: 100%;
    display: none;
}
.mensajeDime{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #038467;
    border-bottom: 2px solid #e6e6e6;
}